* {
    position: relative;
    font-family: Microsoft JhengHei;
}

.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}